body{
	background-color: #fdf3e6;
	color: #6e6865;
}

ul {
	margin: 0px;
}

header{
	height: 100px;
	background-color: #f3d8c0;
}

header .container{
	padding-top: 20px;
}

header button{
	width: 155px;
	height: 50px;
}

main {
	background-image: url("../img/bg.jpg");
	width: 1280px;
	margin: 0 auto;
	padding: 134px 0;
	}

.main-pr-img {
	width: 100%;
	background-image: url("../img/bg.jpg");
	background-position-x: 50%;
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
}

.main-pr-img img {
	width: 100%;
}

.main-pr-img ul {
	margin-bottom: 0;
}

nav{
	height: 950px;
	background-image: url(../img/top_img01.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 85px;
}

.movie {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.text{
	text-align: center;
	letter-spacing: 2px;
	padding-top: 60px;
}

.text-main{
	padding-bottom: 20px; 
	font-weight: bolder;
	font-size: 22px;
	color: #6e6865;
}

.text-sub{
	font-size: 14px;
	color: #6e6865;
}

/*h2タイトル*/
.section-title {
	width: 1280px;
	margin: 90px 0 45px;
	padding-bottom: 40px;
	background-image: url(../img/bg03.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.section-text {
	width: 498px;
	/*height: 180px;*/
	margin: 69px auto 0;
	padding: 0;
	color: #dcbca4;
}

.section-text img {
	width: 100%;
	height: 100%;
}
/*h2タイトルここまで*/

/*photos*/

#photos{
	width: 700px;
	margin: 0 auto;
}

#photos img{
	width: 700px;
	height: 500px;
}


	/*character*/

.character-main {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

.h1-chara {
	font-size: 26px;
	font-family: 'rounded-l-mplus-1c-light' , sans-serif;
	letter-spacing: .12em;
	font-weight: bold;
	color: #957c4b;
	margin: 60px 0 25px;
	text-align: center;
}

.character {
	width: 720px;
	margin-top: 40px;
}

.chara-prof {
	margin-bottom: 50px;
}

.chara-prof img {
	width: 210px;
	height: 210px;
}

.chara-prof h2 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 9px 0 8px;
	text-align: center;
}

.chara-prof p {
	font-size: 12px;
	line-height: 1.8em;
	padding-bottom: 3px;
	letter-spacing: 0.05em;
	height: 3em;
	text-align: center;
	box-sizing: border-box;
}

.chara-prof button {
	padding-right: 60px;
	padding-left: 60px;
	display: block;
	margin: 0 auto;
}

.chara-prof .col-2 {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}

.h2-text-duffy {
	color: #957c4b;
}

.h2-text-shell {
	color: #e17669;
}

.h2-text-gell {
	color: #6b9e7b;
}


/*google map*/

.google{
	display: flex;
	justify-content: center;
}

.content-footer {
	background-color: #eec49e;
	width: 100%;
	padding: 118px 50px 65px;
	position: relative;
}

.top-scroll {
	width: 144px;
	height: 176px;
	background: url(../img/btn_pagetop.png) no-repeat;
	background-size: 144px 176px;
	cursor: pointer;
	position: absolute;
	top: -95px;
	left: 0;
	right: 0;
	margin: auto;
}

.kamome {
	position: absolute;
	top: 10px;
}

.kamome img {
	width: 107px;
	height: 72px;
}

.animation {
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1.5s;
}

.kamome{
    animation-name: anim_v;
}
@keyframes anim_v {
	0% {
	transform: translate(0, 0px);
	}
	100% {
	transform: translate(0, -15px);
	}
}

.pagetop-button {
	font-size: 23px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: .15em;
	position: absolute;
	top: 85px;
	margin: 15px 0 0 48px;
}

.kigou {
 transform: rotate( -90deg );
	position: absolute;
	top: 75px;
	left: 0;
	right: 0;
}

.kigou img {
	width: 12px;
	height: 18px;
}

.sns-container {
	width: 600px;
	margin: 0 auto;
}

.sns-icon {
	display: flex;
	justify-content: center;
}

.sns-icon li {
	margin: 0 6px;
}

.fa-twitter-square {
	color: #1DA1F2;
	background-color: #fff;
	line-height: 84%;
	border-radius: 6px;
}

.fa-facebook-square {
	color: #3B5998;
	background-color: #fff;
	line-height: 84%;
	border-radius: 6px;
}

.sns-title-text {
	margin: 30px 0;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.sns-text {
	margin-left: 13px;
	padding-right: 13px;
	line-height: 1.4em;
	letter-spacing: 0.03em;
	box-sizing: border-box;
}

.sns-text li {
	font-size: 13px;
	margin: 0 0 2.6px;
}

.sns-text li:before {
	content: '・';
	margin-left: -13px;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 87px;
	background-color: #fff;
	padding: 15px 0;
	color: #333;
	font-size: 13px;
	box-sizing: border-box;
}

.footer-menu {
	width: 1280px;
	font-size: 13px;
	display: flex;
	justify-content: center;

}

.footer-menu li {
	padding: 0 15px;
	border-right: 1px solid #ccc;;
}

.footer-menu li:first-child {
	border-left: 1px solid #ccc;;
}

.copy {
	text-align: center;
	margin-bottom: 0;
}




/*--------------小型PC用------------------*/
@media screen and (max-width: 1280px) {

	body {
		width: 1280px;
		margin: 0 auto;
	}
}


/*--------------タブレット用--------------*/
@media screen and (max-width: 960px) {
		body {
		min-width: 768px;
	}
}


/*--------------スマホ用--------------*/
@media screen and (max-width: 480px) {
	body {
		min-width: 375px;
	}
}